<div class="row">
  <div class="small-12 columns">
    <div class="title">
       <h1><link href="https://fonts.googleapis.com/css?family=Diplomata+SC" rel="stylesheet">Ecco News</h1>
    </div>
  </div>
</div>

  <div class="newspaper-single-card">
    <%= image_tag("#{@article.newspaper}.png", :alt => @article.newspaper) %>
      <h1><%= @article.headline %></h1>
      <p><%= @article.description%><p>
      <div class="bgr-image">
        <img src= "<%= @article.image_url%>"></img>
      </div>
      <br></br>
  </div>

<div class="row">
  <div class="large-6 column">
    <div class="full-article">
      <p><%= raw(@article.article.gsub("\n", "<p>")) %></p>
    </div>
  </div>
  <div class="large-6 column">
  </div>
</div>
