
<div class="row">
  <div class="small-12 columns">
    <div class= "panel">
    <div class="title">
       <h1><link href="https://fonts.googleapis.com/css?family=Diplomata+SC" rel="stylesheet">Ecco News</h1>
    </div>
  </div>
  </div>
</div>

<body class='background'
  style="background-image: url(<%= asset_url('back_g.png') %>);">

  <div class="newspaper-single-card">

    <div class="row">
      <div class="columns small-6">
        <%= image_tag("#{@article.newspaper}.png", :alt => @article.newspaper) %>

      </div>
    </div>

      <% if @translated %>
        <h1><%= @article.translated_headline %></h1>
        <p><%= @article.translated_description%><p>
      <% else %>
        <h1><%= @article.headline %></h1>
        <p><%= @article.description%><p>
      <% end %>


      <div class="bgr-image">
        <img src= "<%= @article.image_url%>"></img>
      </div>
      </div>
  </div>

<div class="row">
  <div class="large-6 column">
    <a href="/articles/<%= @article.id %>?translated=true" class="button expanded">Translate</a>
    <div class="newspaper-card">
    <div class="full-article">
      <% if @translated %>
      <p><%= raw(@article.translated_article.gsub("\n", "<p>")) %></p>
      <% else %>
      <p><%= raw(@article.article.gsub("\n", "<p>")) %></p>
      <% end %>

    </div>
    </div>
    <div class="large-6 column">
    </div>
  </div>
</div>
</body>
